[2016-05-08 14:39] cmeiklejohn opened #3 "Default membership and actor persistence"
The default membership for partisan does not persist the actor for a given instance of the peer service manager: this is something we inherited from Helium's peer service.  Because of the use of the ORSWOT, this doesn't necessarily cause a huge problem: each node could potentially be added and removed by two actors, doubling the size complexity.  This is based on the original restriction placed on

[2016-05-08 14:41] cmeiklejohn opened #4 "Ensure connections before do_send_message"
Before attempting to send a message on any of the connections that exist for any of the members of the active view in HyParView, or the full membership set in the default peer service, the connections should be refreshed using the ```establish_connections``` call.

[2016-05-08 14:41] cmeiklejohn opened #5 "handle_message calls should be asynchronous"
All of the `handle_message` calls coming off of the socket should be made asynchronous.

[2016-05-08 14:44] cmeiklejohn opened #6 "Remove identifiers"
In HyParView, when the shuffle occurs and members of the remote passive view are replaced the nodes that are randomly evicted out of the passive side of the recipient should be returned to the sender for addition into their passive view; right now, selection of nodes on the recipient side for transmission to the sender are completely random.

[2016-05-14 11:04] cmeiklejohn opened #7 "Explicit leave operation"
It's unclear how to explicitly leave from the cluster outside of a failure, given the algorithm in the paper doesn't directly discuss this.

[2016-07-12 11:02] cmeiklejohn opened #9 "Neighbor repair is incorrect and doesn't populate active view."

[2016-07-12 11:02] cmeiklejohn opened #10 "Remove state transfer from client/server"
This should only be part of the exchange layer.

[2016-07-12 11:03] cmeiklejohn opened #11 "Alter random walk strategy for tagged peers"

[2016-07-12 11:43] cmeiklejohn commented on #4
Addressed by https://github.com/lasp-lang/partisan/commit/995c20ae160f7ee95b1f7163dec7b7c00c3993cc.

[2016-07-12 11:43] #4 closed

[2016-07-12 11:43] #10 closed

[2016-07-12 14:09] cmeiklejohn commented on #9
Resolved by #12.

[2016-07-12 14:09] #9 closed

[2016-07-25 12:43] cmeiklejohn opened #13 "TCP acknowledgements"
All of the `neighbor`, `neighbor_accepted` and `neighbor_rejected` messages in the HyParView implementation need acknowledgements, and the messages buffered until so, to ensure the views are symmetric.

[2016-07-25 12:44] cmeiklejohn opened #14 "Symmetric views"
The HyParView implementation needs a test added to the test suite to ensure that the views are symmetric.

[2016-07-25 18:08] cmeiklejohn opened #15 "Delayed disconnect can break overlay"
Because of a race condition with delivering disconnect messages, which do not contain either an epoch or birth number, a node can be connected to the overlay via random walk to the same node in quick succession (with an interleaved leave operation) and a late arrival of a disconnect message can permanently disconnect the node leaving the overlay disconnected.

[2017-02-23 20:20] vitorenesduarte opened #32 "Remove decode/1 from manager's API"

[2017-02-23 20:21] vitorenesduarte opened #33 "Do not gossip membership in client server"

[2017-03-19 18:09] cmeiklejohn opened #37 "Partisan crashes if node name is modified while node is online"
To reproduce:

[code]

[2017-03-31 09:01] cmeiklejohn opened #38 "Use multiple connections"

[2017-03-31 09:01] cmeiklejohn opened #39 "Provide a security solution (SSL/TLS) for connections"
Look into handling the upgrade of gen_tcp connections to handle SSL/TLS.

[2017-04-11 18:09] zeeshanlakhani commented on #39
@seancribbs is currently looking into this, and we've had a brief discussion about this with regards to the move from ranch to acceptor_pool (via @tsloughter's PR) as well.

[2017-04-11 18:10] cmeiklejohn commented on #39
Please keep us posted, because we are extremely interested in a security solution given that many folks don't want to adopt EPMD based solutions because they are too difficult to secure.

[2017-04-11 18:17] zeeshanlakhani commented on #33
@cmeiklejohn we can close this, yeah, after @vitorenesduarte's latest work (and merge?) :).

[2017-04-11 18:34] #33 closed

[2017-04-11 18:42] tsloughter commented on #39
@zeeshanlakhani where is this discussion? :)

[2017-04-11 18:43] zeeshanlakhani commented on #39
@tsloughter was just a quick, minor one :), haha.

[2017-04-12 00:48] tsloughter opened #42 "partisan instead of teleport?"
As I was once again looking to revive https://github.com/vagabond/teleport I realized partisan might actually be meant for this itself. Description of teleport https://vagabond.github.io/programming/2015/03/31/chasing-distributed-erlang

Basically, is partisan meant to be used for message passing between nodes in place of distributed Erlang? For some reason I had it in my head it was for fault det

[2017-04-13 12:17] cmeiklejohn commented on #42
Lasp uses Partisan for all internode communication.  This is the direction we are continuing to both research and develop, so yes, I consider Partisan an alternative to teleport.

While I consider teleport an interesting engineering solution to the problem of getting around distributed Erlang; (and, I had my own version of it called ringleader and Andrew's teleport, both motivated by problems inte

[2017-04-13 12:20] cmeiklejohn commented on #42
For what it's worth, the Lasp fork of Plumtree uses partisan for membership and all of the underlying transport communication between members of the broadcast tree: this is the primary difference from the Basho / Helium maintained fork.

[2017-04-13 16:15] cmeiklejohn commented on #42
Further comments: (tagging @Vagabond)

* partisan serializes messages using `term_to_binary` and then passes them onto `gen_tcp:send.`  It wasn't completely clear from Andrew's article whether this is a bottleneck or not.  If not, we should adapt partisan to use the BIF he had?

* What is the best encoding format to use between nodes? (I assume something where there's a BIF available that's better

[2017-04-13 16:22] cmeiklejohn commented on #42
Generally speaking, I think it would be valuable to identify the useful contributions in teleport and migrate them over, given we've done significant stress testing of this library, and that this library provides higher level services than just connection maintenance.

[2017-04-13 17:30] tsloughter commented on #42
Regarding `term_to_binary`, I think he ended up finding that `term_to_iolist` he wrote works better than anything else he tried.

[2017-04-13 17:32] tsloughter commented on #42
And yea, multiple connections between hosts is a must. Not sure if it could be done separately from the failure detection connection easily? Then those could also be lazy if the user wanted.

[2017-04-13 17:33] cmeiklejohn commented on #42
If multiple connections are a must, then are we going to try to preserve FIFO ordering between messages or not?

[2017-04-13 17:37] tsloughter commented on #42
I would assume not. Unless there was a low overhead way to do it for only messages to the same process. Maybe even just mapping the tuple, `{To,From}` to the same connection from the pool, *shrug*, that is likely to cause problems.

[2017-04-13 18:01] Vagabond commented on #42
I think I sharded packets across the connection pool from node-to-node based using the source-destination tuple as the shard key, so process-process messaging order was preserved. Total messaging order is obviously an entirely other kettle of fish. I also punted on reply delivery.

Some of the other points, distributed erlang cheats a lot to be fast, Ideally you'd have something like partisan for

[2017-04-13 18:07] evanmcc commented on #42
My read, taking Christopher's points in order:

- it sounds like it was a bottleneck, hence the `teleport:term_to_iolist` code to lessen GC pressure.
- IMO `binary_to_term` is well tested, fast, and doesn't collapse the scheduler much anymore.
- I don't think that this is critical in any way to the functioning of the library, we should be able to port stuff over without much of an issue.
- I imagi

[2017-04-13 18:28] evanmcc commented on #42
Correction: it looks like Benoit's code is more 'inspired by' than 'based on'.

[2017-04-13 18:57] cmeiklejohn commented on #42
Is this guaranteed across disconnects/reconnects, though?  A simple hashing function (even chash in some cases given particular join behavior) doesn't appear to be enough to capture this concern.

[2017-04-13 18:58] cmeiklejohn commented on #42
We originally had the default connection manager do full mesh with disterl, but then I think it was eventually replaced with TCP.  We could bring back that, though.

[2017-04-13 18:58] cmeiklejohn commented on #42
Agreed; we want to have and support applications where FIFO is not required.  However, this highlights a particularly interesting point, that existing applications that rely on this behavior (such as, many internal Ericsson modules) would not be able to take advantage of our work.

[2017-04-13 18:59] cmeiklejohn commented on #42
Sounds great to me.

I'd say that first we want to focus on getting SSL/TLS working, and then go multi-connection, if that makes sense with everyone else.

[2017-04-19 23:24] evanmcc commented on #42
Starting to actually work on this for vonnegut, I noticed that there are few things that we need that partisan doesn't currently provide:

1. remote calls and casts (and various other gen_* messages)
2. remote monitoring for the above
3. via support for the above.

basic versions of 1 and 3 are probably pretty easy to add, but 2 is a fair bit of complexity add.  Is this something that you're inter

[2017-04-21 23:30] cmeiklejohn commented on #42
We're interested in all three of the proposed things and are willing to provide support where possible.  Maybe we can open an issue for each of these items and put together a plan for integrating them.  Would that be an acceptable approach?

[2017-04-21 23:51] evanmcc commented on #42
cool.

since the existing code uses the `ServerSpec` unchanged, I am not sure that 3 is actually needed.

I have unidirectional versions of send, cast, and call working (up from cast).  I'll open issues for the other two, and try to see whether 3 is actually needed before opening one there.

[2017-04-22 00:03] evanmcc opened #44 "Add call emulation for `forward_message`."
currently `PeerServiceManager:forward_message(Node, Target, Message)` uses `gen_server:cast` to send its message on the recipient node.  It would be nice to support the semantics of `gen_server:call` as well.  This presents two issues:
1. `call` sets up a monitor on the remote server that it is sending to (I'll address this in another issue).
2. `call` blocks until there is a reply.  The current c

[2017-04-22 00:07] evanmcc opened #45 "add remote monitoring"
in order for the call emulation in #44 to work, and more generally for partisan to act as a full-featured disterl replacement (see #42), we'll need to add remote montioring.   A good design for this doesn't really spring right to mind, I guess, so I am looking for feedback here.

My initial thought was just to add some monitoring metadata on top of the existing node to node data handling (it would

[2017-04-22 00:14] cmeiklejohn commented on #42
What do you mean?

[2017-04-22 15:29] evanmcc commented on #42
Via support is just a special tuple: `{via, MyReg, [some, args]}` so as long as that is faithfully serialized and deserialized, it should just work.

see the definition of `ServerRef` here: http://erlang.org/doc/man/gen_server.html#call-3

[2017-05-15 16:45] vitorenesduarte opened #48 "On 'EXIT', nodes are only removed from connections, not from membership"

[2017-05-15 16:46] vitorenesduarte opened #49 "`maybe_connect` is only called on `join`"
- We should attempt to connect to disconnected peers from time to time, not when a new join occurs

[2017-05-15 20:11] cmeiklejohn commented on #48
Which backends is this an issue for?  (also, 'EXIT' signals a disconnection from the node that is connected, so isn't this correct behavior?  ie. a failure doesn't mean the node is no longer part of the cluster, necessarily, right?)

[2017-05-15 20:14] cmeiklejohn commented on #49
Should this be done for all backends?

[2017-05-15 20:21] vitorenesduarte commented on #48
Not sure.
But calling `members()` returns a list of nodes that I expect to be able to send a message.
And it's not the case, currently.

[2017-05-15 20:23] vitorenesduarte commented on #49
I noticed this was only being done when new connections occurs in `static`, `client_server` and `default`.

I'm inducing partitions using __iptables__, and when I remove rules, the connections don't restore.

[2017-05-19 23:30] lrascao commented on #48
The problem is (at least) in the hyparview manager, `connections` is a dict of `Name :: atom() -> Pid :: pid()` while the active/passive view dicts are `{node(), ip(), port()}`. On 'EXIT' the peer is not removed from the active view due to `is_in_active_view` returning false due to this key mismatch.

[2017-05-22 19:49] ZGF4 commented on #48
I'm seeing this with partisan_default_peer_service_manager

[2017-05-23 09:06] cmeiklejohn commented on #48
I propose extending the API with a `connected_members()` call that returns membership filtered by connected nodes.  Thoughts?

[2017-05-23 11:02] lrascao commented on #48
That might be a possibility, but my suggestion is to first clear up the thing i mentioned above, it's currently the reason why disconnected nodes are not being removed from the active view (at least in hyparview manager)

[2017-05-23 12:02] cmeiklejohn commented on #48
The original bug was filed against the static manager, I think.  That's why I had asked clarifications earlier about which backends exhibit this behavior, because I'm not yet convinced the fix is the same for all of th backends.

[2017-05-23 23:06] lrascao commented on #48
Indeed it's not, all the backends have different behaviour `on_down`: `default` invokes a user defined function, `static` and  `client_server` simply remove the connection from their state and `hyparview` doesn't remove the downed node from the active view

[2017-05-25 09:55] cmeiklejohn commented on #48
Would you be willing to submit a PR for that change?  I, unfortunately, do not have time at the moment to make these modifications.

[2017-05-25 10:07] lrascao commented on #48
sure, i got something cooking already, only for the `hyparview` manager though (which is the one i'm interested in)

[2017-05-30 10:55] kzemek opened #56 "Undefined partisan_peer_service:forward_message/3"
I can't find a branch of partisan that has `forward_message/3` defined in `partisan_peer_service` module as documented in https://lasp-lang.readme.io/docs/messaging-api . The docs are also linked to from a [recent issue in lasp_pg](https://github.com/lasp-lang/lasp_pg/issues/12) which suggests they are up to date.

Are we supposed to directly use `forward_message/3` implemented in concrete manager

[2017-05-30 12:25] kzemek opened #57 "Default manager is not partisan_default_peer_service_manager"
Looks like [this change](https://github.com/lasp-lang/partisan/commit/b7449bd589d3898646bf7bc206355141b5a5d1c1#diff-b08bc76e209526e4b2e4131ca64fb37fR55) has changed the default manager from `partisan_default_peer_service_manager` to `partisan_client_server_peer_service_manager`, which is not consistent with the documentation.

[2017-06-05 05:13] cmeiklejohn opened #59 "Test failures for TLS"
cc: @seancribbs

[code]

[2017-06-05 10:28] lrascao commented on #59
is this happening mostly on Travis or locally?

[2017-06-08 15:54] cmeiklejohn commented on #59
This is happening on my Windows machine.  Any thoughts @seancribbs?

[2017-06-08 17:29] seancribbs commented on #59
There's nothing obvious about why that would fail on TLS vs. regular.

[2017-06-08 17:30] lrascao commented on #59
maybe it's a windows thing, does `priv/lager/*` show any clue?

[2017-06-08 17:33] seancribbs commented on #59
For what it's worth, if `make_certs.erl` doesn't work on Windows, we will be out of luck. It requires a working `openssl` CLI tool.

[2017-06-08 23:35] cmeiklejohn commented on #59
This running inside of Ubuntu on Windows; so, there is a `openssl` command line available.  Is this just a timing issue?

[2017-06-08 23:43] cmeiklejohn opened #60 "Transient failures in default_manager_test (with ssl)"
There's a transient failure with the default_manager_test that is potentially due to a race condition somewhere in the test with setup and teardown.

[code]

[2017-06-09 03:38] seancribbs commented on #59
That sounds likely. Do you have a `wait_until` function we could use?

[2017-06-10 20:09] cmeiklejohn commented on #60
Resolved by #62.

[2017-06-10 20:09] #60 closed

[2017-06-10 20:25] cmeiklejohn commented on #59
Resolved by #62.

[2017-06-10 20:25] #59 closed

[2017-06-10 21:31] #57 closed

[2017-06-20 15:57] lrascao commented on #56
this can be closed via #70

[2017-06-21 17:14] #56 closed

[2017-07-09 15:19] lrascao opened #75 "Hyparview full connectivity is sometimes not being achieved"
So i have a configuration of a 9 node cluster (that i start as a `rebar3 shell`) using hyparview with a max active size of 3, i then issue a join operation on all nodes at once joining through the same contact node. On some runs (not all) i end up with an "island" of 3 nodes isolated from the rest, any obvious thing that i might be missing before digging into it?

[2017-07-10 02:57] cmeiklejohn commented on #75
How fast are you joining the nodes?

[2017-07-10 08:36] lrascao commented on #75
Pretty fast, all of them join through the contact node at the same time.
I've re-read the paper again, how is the connectivity property ensured throughout the execution? From my limited perspective the problem seems to be that we're dropping random nodes from the active view and not making sure that the ones left are being left isolated

[2017-07-11 01:42] cmeiklejohn commented on #75
The connectivity property is not ensured: the protocol specifically states that it's probabilistic and under certain levels of churn will not guarantee a single connected component.

Two possible solutions to reduce the effect of this:

* Have nodes reconnect when they detect they are isolated; this is specifically what we do in Lasp;
* Have nodes round-robin on join, to ensure that a single nodes

[2017-07-14 17:15] lrascao commented on #75
I see, i'll check out Lasp's approach then

[2017-07-14 17:15] #75 closed

[2017-07-14 17:17] cmeiklejohn commented on #75
We're open to other suggestions, but, that's the best that we've come up with so far.

[2017-08-05 17:12] lrascao commented on #48
this can closed via #58

[2017-08-06 22:56] #48 closed

[2017-08-06 22:56] #39 closed

[2017-08-06 22:56] #38 closed

[2017-09-03 10:00] benoitc commented on #45
i guess monitoring could be done by connected nodes and gossiped to others when it happen?

[2017-09-08 19:44] tsloughter opened #89 "Confusing results from the new multi-ip join"
I'm seeing a weird result from upgrading to the current master of partisan using the default peer service manager.

We use DNS to discover the hosts we want to connect to, including their hostnames, ips and ports:

[code]

In the logs though I continue to see the error:

[code]

Those are the defaults that I set through `$IP` and `$PEER_PORT` but are never the values sent with the `join` that gets

[2017-09-08 20:04] cmeiklejohn commented on #89
Hrm, ```$IP```?  Shouldn't you be using ```$PEER_IP```?

[2017-09-08 20:07] tsloughter commented on #89
It uses `$IP` in `partisan_config`.

[2017-09-08 20:12] cmeiklejohn commented on #89
Ah, right.  In your log, there should be a "Peer ~p isn't ~p." message around where you're seeing the unexpected peer messages.  Can you find that line and throw it in this issue?

[2017-09-08 20:15] tsloughter commented on #89
Yea. And note that this is a log from the node `vonnegut@nucleus-02-chain1-0:
[code]

[2017-09-08 20:34] tsloughter commented on #89
Issue related to state merging. I fixed it for my case by setting `$IP` to the actual ip address instead of `0.0.0.0`.

[2017-09-08 20:34] #89 closed

[2017-10-12 15:43] benoitc opened #103 "documentation or any useful example ?"
is there any documentation somewhere on how to use partisan (blog, reference doc, ..) or any simple examle that demonstrate its usage as of today?

[2017-11-03 23:16] cmeiklejohn opened #112 "Race condition on send/join."
There's a race condition on join's and sends.

If a node calls join, and immediately attempts to send a message on that channel, the node might try to send before the connection is established with the default backend.  This is because joining is async: the join returns OK immediately, but sending is unavailable until the connection is established, which is a callback into the peer service manager

[2017-11-03 23:17] cmeiklejohn opened #113 "Send assumes connection is established for channel."
Right now, in do_send_message in the default peer service manager, it's assumed that if a node is connected, that a connection is open for the channel.

Options:

* Since the default channel is always the first established, use the default channel for the message if a message specific channel has not been established yet; or
* Buffer the message until the channel for those types of messages is est

[2017-11-03 23:19] cmeiklejohn opened #114 "Jitter on connect."
In the default manager, when a cluster of nodes learns about a new node in the cluster, they all try to connect to it immediately, which because of the listen queue, can lead to timeouts, causing the cluster to fail to connect to peers.

One option here is to use a jitter parameter, which would prevent nodes from connecting immediately to a new node they just learn about.  In the case of paralleli

[2017-11-03 23:21] cmeiklejohn commented on #114
I've confirmed that jittering the connections prevents timeout issues on join, which were being seen in at least two environments running the new partisan-enabled Riak Core.  However, this solution is only probabilistic, so I welcome other solutions.

Thoughts? @slfritchie @seancribbs @tsloughter

[2017-11-04 01:27] seancribbs commented on #113
What sorts of guarantees does a channel provide? If there's an expectation of linearizability of a sequence of messages from the same origin process over the channel, I would not take option A. If the default channel is overloaded (or buffering, or changing window size, etc), you could have messages delivered out of order.

[2017-11-04 01:31] seancribbs commented on #114
Probabilistic is probably fine. You might also want nodes to have a random jitter when retrying after timeouts, assuming you have a multiplicative backoff scheme.

[2017-11-04 01:36] seancribbs commented on #112
You could prevent buffer overload by suspending processes that send messages to the unopened connection, then resuming them when the connection is established or their message has been sent.

[2017-11-06 14:25] cmeiklejohn commented on #112
Opened #115 to address.

[2017-11-06 17:38] #112 closed

[2017-11-06 17:49] #114 closed

[2017-11-06 17:49] cmeiklejohn commented on #114
Addressed in #115.

[2017-11-10 04:17] tsloughter opened #116 "update members and removing nodes that never became members"
I'll be digging into see how to fix this in partisan in the morning but opening this now that it is fresh in my mind.

I've discovered that using `partisan_default_peer_service_manager:update_members/1` that partisan will keep trying to connect to a node that is no longer in the list given to `update_members`. So if it initially is called with `[A, B]` and then `[B]` if it was never able to connec

[2017-11-10 17:23] #116 closed

[2017-11-11 17:38] tsloughter opened #121 "update_members should only accept a list of maps"
The default peer service manager currently supports the nodes list as both a list of atoms and a list of maps. This results in some confusing hacks and logic to handle.

Requiring the list to be the map representation of a node would clear it up and allow to simply use `sets` to find the difference and intersection of the current membership and the updated membership.

[2017-11-11 18:49] cmeiklejohn commented on #121
I will take care of this soon.

[2017-11-18 19:47] germanbottosur opened #128 "Peer service leave failed in two node cluster test"
Hi!
I'm running two `elixir:1.5.2` nodes using `{:lasp, "~> 0.4.0"}`

First, I've listed the members in node1
[code]
then, I've listed the members in node2 and joined node1
[code]
now, in node1
[code]
leave in node2
[code]
and in node1
[code]
and after node2 shutdown `Ctrl+C`, node1 start trying reconnection
[code]

[2017-11-21 14:08] cmeiklejohn commented on #128
I believe that the latest master addresses these issues.  Please reopen the issue if that is not true.

[2017-11-21 14:08] #128 closed

[2017-12-09 19:39] cmeiklejohn commented on #103
https://lasp-lang.readme.io/docs/overview

There's a section on using partisan in here.

[2018-05-08 20:56] cmeiklejohn opened #163 "Support sync_join and initiate_reverse together."

[2018-05-15 01:45] cmeiklejohn opened #165 "Low active test is giving transient failures."

[2018-06-11 00:38] cmeiklejohn opened #168 "Reliability backend needs persistence just like the causality backend."

[2018-06-11 01:28] cmeiklejohn opened #169 "Container issues"
When running in GKE -- instances performing the second test of the test suite are running into eval_work_list failures with dets -- presumably there's some sort of table corruption, even though the tables are supposed to not be shared across invocations.

We either need to trace to figure out what is happening, log the direcetory and make sure the state directory is nuked between different iterati

[2018-06-11 01:43] cmeiklejohn opened #170 "Provide a memory version of the causality backend for testing purposes."

[2018-06-12 01:43] cmeiklejohn commented on #170
Switched to a memory backend for now.

[2018-06-12 01:44] #170 closed

[2018-09-24 15:19] getong opened #185 "There are tags in hex.pm, but no tags for the git repo, why?"

[2018-09-24 15:57] cmeiklejohn commented on #185
I haven't been the one pushing or building the hex package, @tsloughter has.

[2018-09-24 16:31] getong commented on #185
Is it possible to make tags on git repo?

[2018-09-24 17:40] cmeiklejohn commented on #185
There's nothing preventing us from doing it, I just think we've haven't done it because we've forgotten.  We can do it moving forward, but it's going to be impossible to go back and figure out what packages map to which commits -- or rather -- it's something that I don't have time for, nor know how to do.

[2018-09-24 17:56] getong commented on #185
The latest tag in hex.pm.is 2.1.0, we can add new tags bigger than it.

[2018-09-25 16:29] cmeiklejohn commented on #185
We can begin making tags moving forward.

[2018-09-25 16:29] #185 closed

[2019-01-02 03:12] xinhaoyuan opened #191 "Unexpected cluster member after calling leave"
Hi,

When a node (say A) calls `partisan_peer_service:leave(node())` to quit the cluster, previous gossip messages (containing A) from the cluster could reach after the restart of `partisan_default_peer_service_manager` server, and make A join the cluster unexpectedly.

Please see https://github.com/xinhaoyuan/morpheus-app-test/tree/master/partisan_test_repro_1 for demonstration.

[2019-01-04 00:34] cmeiklejohn commented on #191
Have you tried the rename-backend branch?  That's targeted for the next release and contains a bug fix for this.  (Keep in mind, the API has been changed.)

[2019-01-04 00:37] cmeiklejohn commented on #191
If you look at that branch at the leave test, I think that covers what you are referring to also.

[2019-01-19 07:33] benoitc commented on #103
thanks (sorry i didn't get any notification about it)

[2019-01-19 07:33] #103 closed

[2019-01-20 14:30] benoitc opened #193 "channels unused for static peer service when forwarding a message"
Looking at the source code , the `Channel` argument is always ignored and Erlang distribution is used to forward the message instead of an alternate `TCP ` connection like I expected. What is the reason for it?

[2019-01-20 15:48] cmeiklejohn commented on #193
Can you point me to a particular place where you think this is broken?  It should not be.

[2019-01-20 16:12] benoitc commented on #193
@cmeiklejohn

https://github.com/lasp-lang/partisan/blob/master/src/partisan_static_peer_service_manager.erl#L238-L243

See here the channel args is ignore (`_Channel`). If it's not wanted I can provide a patch for it.

[2019-01-20 16:36] benoitc commented on #193
Having  the static overlay would at least allows the user to switch the
backend easily though. I was about proposing to include [aten](
https://github.com/rabbitmq/aten) as a dependency to manage membership
update.

I’ve a use case where the user only need to join a couple of nodes and
thought using a static list for them would be better than writing something
custom.

Anyway if the removal of thi

[2019-01-20 17:16] cmeiklejohn commented on #193
the only difference between static and full is that the membership list is known at execution time and can't be changed.  there's no point in having two different topologies for that, so if you want that behavior, you can just use full and not change the membership when the system is running.

[2019-01-20 19:02] benoitc commented on #193
@cmeiklejohn by full you mean default distribution I assume? Anyway fair enough, I will work around, thanks for the explanations :)

[2019-01-20 19:02] #193 closed

[2019-01-22 15:11] cmeiklejohn commented on #193
No, the Partisan full mesh manager connects all nodes, but doesn't use distribution.  Same topology as Distributed Erlang, but done all with TCP in Partisan.

[2019-01-27 18:43] tsloughter opened #195 "epmd module"
I had a thought today after playing with [epmdless](https://github.com/oltarasenko/epmdless) again. Since partisan already keeps track of host and port, pretty much the main functionality of epmd, it might not be out of scope to include the ability to replace epmd when using partisan.

What do you think?

[2019-01-28 15:12] cmeiklejohn commented on #195
I don't really know anything about ```epmdless```, but I'm open to suggestions.

[2019-02-01 18:55] tsloughter commented on #195
Cool. I'll try taking a closer look at what this would look like this weekend and get back to you with suggestions.

[2019-07-11 10:37] benoitc opened #215 "tag ?"
I am wondering if a release (tag)  can't be cut one of these days on the current code or one of these interresting branches? That would help a lot to release a product above partisan :)

[2019-07-11 17:33] cmeiklejohn commented on #215
hahaha, we should do that!

Which version do you think would be the best to tag?

[2019-07-11 21:57] cmeiklejohn commented on #215
More importantly, it would be useful to find out which version you need and the version that Bondy needs so maybe we need to tag a 1.x branch and a 2.x branch.

[2019-07-12 07:19] aramallo commented on #215
I am a little bit behind master. I am still using my fork https://github.com/aramallo/plumtree as I have to commits which fixes a missing membership state update only affecting local event handlers resulting in an out-of-sync view of the cluster membership.

I will merge your master branch into mine and see if my change is still required and if so I will do a PR.

[2019-07-12 19:35] cmeiklejohn commented on #215
I think our version of Plumtree already contains that fix -- I think I also submitted that same fix to the upstream as well.

[2019-07-12 19:36] cmeiklejohn commented on #215
@aramallo Can you move to HEAD of master and let us know if that would be a good release to tag for 1.x?

[2019-07-12 22:36] aramallo commented on #215
Yes, I’ll try to check over the weekend and let you know.

[2019-07-14 09:59] benoitc commented on #215
@cmeiklejohn I think anything that is compatible with OTP 22 is fine for me. Do you already have introduced the API changes in the master? Would be good to have them already if it can bring the same level of support for each gossip strategy :)

[2019-07-14 20:02] cmeiklejohn commented on #215
I don't believe I can bring in those changes for the new membership strategy stuff into master yet because I think Igor and @aramallo both are using the old API.  Can you both confirm?

[2019-07-14 20:59] Laymer commented on #215
@cmeiklejohn I am currently restructuring/cleaning my code to implement a nicer modular architecture, so that even if the new API breaks everything, I'd be able to switch back to my old fork. For GRiSP, OTP 21 is my current vsn and 22 is already supported too, so like @benoitc everything should be fine for me 🙂 Would it still be compatible with Lasp ?

[2019-07-14 21:01] cmeiklejohn commented on #215
So, Lasp requires the old version of Partisan (1.x branch) before breaking changes.  Therefore, that would have to be upgraded before being able to move to the new version of Partisan.

[2019-07-14 21:36] aramallo commented on #215
I guess I am using the old API , anything you can give me to spot the diff with the new API? Is that in a separate branch. On another note , I did some tests today and the changes to the membership update I had fix in my fork are still required in the latest Master branch. So I created a new fork  (this time in my personal github space) and will send you a PR tomorrow after I run more tests and ex

[2019-07-14 21:39] aramallo commented on #215
Also @cmeiklejohn i could try to adopt the new API so that we can all start from the same place

[2019-07-14 21:46] cmeiklejohn commented on #215
Yeah, using the new API would be the best idea, I think.

[2019-07-14 21:47] Laymer commented on #215
@cmeiklejohn I see that you have opened a PR to bump Partisan in Lasp, but it is not merged yet, would that be a good starting point ? Anyway, feel free to bring the new features 😄 I am also interested in @aramallo 's approach, I could try out the new API, and see if I can help make it work with Lasp.
And also :

Is very welcome as well 🙂

[2019-07-14 21:48] cmeiklejohn commented on #215
I'm not sure I have cycles for bumping Lasp to the new version of Partisan; so, someone else is going to have to do that work at this point, or we will just leave it pinned to the old version.  @Laymer, since you're the primary user of Lasp, it would be cool if you could take a stab at it.

[2019-07-14 22:14] Laymer commented on #215
@cmeiklejohn I will definitely try, and since I'm already trying to improve the way I use Lasp on GRiSP, I think I'd be doing even better if I can contribute to Lasp on anything else !

[2019-08-13 19:17] benoitc commented on #215
bump :)

[2019-08-13 19:32] Laymer commented on #215
@benoitc my apologies for the lack of progress on this. I could not find time to address this properly but I will definitely be working on it after the Erlang workshop, and will update if I manage to make any progress :slightly_smiling_face:

Although there is probably additional requirements that I will have to address in my particular case, such as being able to work without plumtree, and I don'

[2019-08-14 05:47] cmeiklejohn commented on #215
My inclination is to just merge my recent work and tag a new major release.  Any objections?

[2019-08-14 06:53] benoitc commented on #215
@cmeiklejohn which branch do you have in mind? I wanted to prepare my code to it a little as I am about to release as well.

[2019-08-14 07:29] cmeiklejohn commented on #215
i'm working on it

[2019-08-14 07:31] aramallo commented on #215
@cmeiklejohn I am working with master, I have a fork and will be making  a PR in 30 mins because the issue I mentioned before is still standing in master.

[2019-08-14 07:32] cmeiklejohn commented on #215
ok

[2019-08-14 07:44] aramallo commented on #215
Ohhh, I just realised there are 96 new commits to the version I was using....time flies. So I need to double check now.

[2019-08-14 07:45] cmeiklejohn commented on #215
lol

[2019-08-14 08:16] aramallo commented on #215
I was wrong, it is early for my brain to work properly, I have two forks and I was checking the old one.  I  am now checking the latest one and we still need my PR. Running Partisan test suites now, will comment soon

[2019-08-14 08:36] aramallo commented on #215
@cmeiklejohn I get an error with TLS, is the following expected?

[code]

[2019-08-14 08:37] cmeiklejohn commented on #215
weird, I'm not seeing this.  Missing libopenssl-dev?

[2019-08-14 08:39] aramallo commented on #215
Ummm...I am on the macOS, maybe wrong lib? So if that is the case your CI should pass the test, so I will go ahead with the PR and check my macOS env for the openssl libs

[2019-08-14 09:16] aramallo commented on #215
Yes, the PR passes the tests :-)  Let me know if you need more details

[2019-08-16 17:35] cmeiklejohn commented on #215
Closing, since we just tagged v4.0.0.

[2019-08-16 17:35] #215 closed

[2019-08-17 00:38] benoitc commented on #215
awesome. thanks!

[2019-08-22 14:54] benoitc opened #218 "build with OTP 22 fail"
I get the following error while building latest master with OTP 22:

[code]

[2019-08-22 14:54] cmeiklejohn commented on #218
I haven't even tried to compile with OTP 22 yet, I assume lots of things don't work.  I'm only testing for 19.3 and 20, currently.

[2019-08-22 14:57] benoitc commented on #218
@cmeiklejohn as far as i went in the sources it seems the only problem right now is this one and the use of a custom gen_fsm. Is there any reason to not bump to 22 or 21? I'm not even sure 19.x is a supported OTP platform now.

[2019-08-22 15:00] cmeiklejohn commented on #218
That custom gen_server and gen_fsm are used to automatically port gen_servers and gen_fsm's to run on Partisan -- otherwise, there's no way to make them port transparently with the use of gen_server:cast.  If we want to move forward to OTP 22, then I want a compatible version of a gen_fsm/gen_server that works with that.

[2019-08-22 15:03] benoitc commented on #218
@cmeiklejohn I saw that, was thinking that could be done using a parse transform but i can for sure portthe gen part. let me take care of it. One question is do you still want to keep gen_fsm since it has been deprecated to gen_statem?

[2019-08-22 15:03] cmeiklejohn commented on #218
Yes, I want to keep gen_fsm, because even though it's been deprecated, many applications -- like Riak and more -- still are using a vendored version of it.

[2019-08-22 15:04] cmeiklejohn commented on #218
I don't see how it can be a parse_transform, since the actual implementation of gen.erl is completely different when it sends messages.

[2019-08-22 15:10] cmeiklejohn commented on #218
Maybe we can just patch around the error that's preventing the compilation in the local copy?

[2019-08-22 15:11] benoitc commented on #218
@cmeiklejohn yes, i can have  look in 2-3 hours and send you a pr. i will look at other changes :)

[2019-08-22 15:12] cmeiklejohn commented on #218
ok, thanks.  once we do this we probably need to update the travis config to build the proper OTP versions.

[2019-08-22 16:05] cmeiklejohn commented on #218
thanks

[2019-08-25 15:32] benoitc opened #220 "rebar_erl_vsn is unmaintained"
Is there any reason to use `rebar_erl_vsn` ? it has not been updated on hex since June 2018 and trigger such warning:

[code]

[2019-08-25 15:33] tsloughter commented on #220
It can probably be removed and replaced pretty easily in partisan.

[2019-08-25 16:04] benoitc commented on #220
hrm i will check how it's used then

[2019-09-16 17:37] cmeiklejohn opened #223 "RPC test fails in 19.3 build"
This is because the RPC call relies on a string:split, which doesn't exist in 19.3  I've just commented the test out for now, since we hope to not have to support 19.3 for very much longer....

[2019-09-16 19:47] cmeiklejohn commented on #223
resolved

[2019-09-16 19:47] #223 closed

[2019-11-19 18:21] ankhers commented on #45
I think the simplest thing to do would be to have a monitor function that can work either with a `pid`, or a `{partisan_remote_reference, Node, {partisan_process_reference, PidAsList}}`. If it is a regular `pid`, we could just use `erlang:monitor/1`. If it is a remote reference, we could cast a message off to the given `Node` with the calling processes remote reference. On the `Node`, there would

[2019-12-10 09:45] benoitc opened #229 "status, roadmap, doc?"
With the coming stable and opensource release of barrel I am asking myself about the current status of partisan? Is there any roadmap around?

It is unclear what are all the features now that we some  code related to orchestration strategy? How to use it? What are the gossip layers supported? Are the features of these layers all on par?

Is there any or user and developer oriented documentation so

[2019-12-16 18:45] cmeiklejohn commented on #229
Yes, we're well aware that things are really lacking in the documentation department.  I'd like to contribute some time to this now that the semester is over, but help would be appreciated in knowing what we should be approaching first.

I would like to take some of the work Mariano has done and use that to show how you can get a new cluster up and running; but from there, I suppose it would be be

[2019-12-27 19:36] tsloughter commented on #220
It has been removed.

[2019-12-27 19:36] #220 closed

[2019-12-27 19:37] tsloughter commented on #218
This is handled so I'm closing the issue.

[2019-12-27 19:37] #218 closed

[2021-01-15 20:59] beardedeagle opened #233 "partisan.cloud down"
partisan.cloud appears to have expired and the site is no longer up. are there plans to restore it?

[code]

[2021-01-19 08:04] cmeiklejohn commented on #233
I know, I just haven't got the money to renew it yet.  (I'm a grad student.)

[2021-01-27 10:13] sascha-wolf commented on #233
@cmeiklejohn what's the cost? Maybe this is something where the community can chip in, for example via GitHub Sponsors? I'd be happy to do so. 🙂

[2021-02-25 17:57] beardedeagle commented on #233
@cmeiklejohn & @sascha-wolf I'm watching it as it goes through the domain expiry process. Hopefully no one is squatting on it with a backorder, or it doesn't get picked up in auction, but I or others could do the same. I don't remember the timelines for the expiry process for the .cloud gTLD, but I'll ask my coworkers.

[2021-05-26 15:02] l2dy commented on #233
The domain has been squatted, please remove references to avoid confusion.

[2021-06-02 19:27] beardedeagle commented on #233
@cmeiklejohn I picked up `partisan.dev` to replace `partisan.cloud`. I'll throw an SSL on it as well, let me know when and where you want it pointed at. I'll transfer it to you as well if need be, no skin off my back.

[2021-06-10 04:59] cmeiklejohn commented on #233
That was too kind of you!!!  Thank you.  Can you point it using an ALIAS to my GitHub?

[2021-06-28 19:57] beardedeagle commented on #233
Sorry, I've been incredibly busy. I'll get back to you as soon as this is done.

[2022-06-02 20:21] sleipnir opened #236 "How to use Partisan ?"
Hello, how are you here?

Is there an example of an application written in Elixir using Partisan? How can I be able to upload a cluster of Elixir applications using Partisan?

[2022-06-11 18:30] sleipnir commented on #236
Ping

[2022-06-13 18:48] sleipnir commented on #236
Thanks for the answer. And where do I find an example in Erlang?

[2022-06-13 22:45] cmeiklejohn commented on #236
@aramallo, any thoughts here on current usage?

[2022-06-14 07:27] aramallo commented on #236
Hi @sleipnir we are using Partisan in both OSS and proprietary SW, all in Erlang so far. You can check Bondy (https://github.com/Leapsight/bondy) our L7 service and event mesh. It uses partisan for clustering. Internally that uses another project    PlumDB (https://gitlab.com/leapsight/plum_db ) a database that uses Partisan for clustering. They are not “getting started” examples and might be diff

[2022-06-14 07:29] aramallo commented on #236
BTW I added exdoc to Partisan (in my fork which we will be integrating soon) and I will be working on adding docs and tutorials soon

[2022-06-14 15:21] sleipnir commented on #236
Thanks for replying, I'll check out the links I envy and see if I can extract something from there, thanks

[2022-11-18 00:41] aramallo commented on #45
In v5.0.0-beta I have re-implemented monitoring leveraging the new connection handling which offers fast checks and also a new implementation of on_up and on_down peer service callbacks.

It only works with pluggable service manager ie full mesh. I would love to come up with a design that works for Hyparview soon.

So I will close this issue.

[2022-11-18 00:41] #45 closed

[2022-11-18 00:43] #233 closed

[2022-11-18 00:46] aramallo commented on #195
With Erlang 24 and v5.0.0-beta this can be done by simply using the new vm.args options to disable epmd and disable disterl altogether.

[2022-11-18 00:46] #195 closed

[2022-11-18 00:49] #42 closed

[2022-11-18 00:53] aramallo commented on #191
This is solved in v5.0.0-beta (and was potentially solved in v4 too as Chris mentions) so closing it.

[2022-11-18 00:53] #191 closed

[2022-11-18 00:56] #169 closed

[2022-11-18 01:04] aramallo commented on #113
Partisan currently uses option A, ie fallbacks to the default channel connection.

In v5.0.0-beta we have fast connection status checks by channel, so we can use this to implement option B or any other option.

I would like to have this to be managed by user prefs ie decision to fallback in default channel or to queue messages by channel.

[2022-11-21 17:42] aramallo commented on #168
I think the best approach would be to develop a behaviour and a default backend using dets or dlog. We can then define a rocksdb backend but as a separate project to avoid having rocksdb as direct dependency.

[2022-11-25 16:35] #32 closed